<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <title>Document</title>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">InfoCinemas</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Profile</a></li>
            <li><a href="http://localhost:9000/insertmovie?name={{name}}">Insert New Movie</a></li>
            <li><a href="http://localhost:9000/deletemovie?name={{name}}">Delete a Movie</a></li>
            <li><a href="http://localhost:9000/updatemovie?name={{name}}">Update a Movie</a></li>
            <li><a href="http://localhost:9000/addadmin?name={{name}}">Add an Admin</a></li>
            <li><a href="http://localhost:9000">Log out</a></li>
          </ul>
        </div>
      </nav>

      <h4>Welcome {{name}}</h4>
      <p>You can insert, update or delete a movie OR add a new Admin. </p>
  </body>
</html>