<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">InfoCinemas</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:9000/updatemovie">Update a Movie</a></li>
            <li><a href="http://localhost:9000/addscr?ot={{ot}}&oy={{oy}}">Add New Screening Datetime</a></li> 
            <li><a href="http://localhost:9000/delscr?ot={{ot}}&oy={{oy}}">Delete a Screening Datetime</a></li>
            <li><a href="http://localhost:9000/upscr?ot={{ot}}&oy={{oy}}">Update a Screening Datetime</a></li>
            <li><a href="http://localhost:9000">Log out</a></li>
          </ul>
        </div>
      </nav>
    <p>You can add-delete-update a  screening datetime for your movie </p>
</body>
</html>