<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Homepage</title>
    </head>
    <body class="testing">
        <h1>InfoCinemas</h1>
        <a href="http://localhost:9000/login">
            <button class="buttont">
                Login
            </button>
        </a>
        <a href="http://localhost:9000/register">
            <button class="buttont">Register</button>
        </a>
    </body>
</html>