<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <title>Document</title>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">InfoCinemas</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:9000/updatemovie?name={{name}}">Update a Movie</a></li>
          <li><a href="http://localhost:9000/addscr?ot={{ot}}&oy={{oy}}">Add New Screening Datetime</a></li> 
          <li><a href="http://localhost:9000/delscr?ot={{ot}}&oy={{oy}}">Delete a Screening Datetime</a></li>
          <li class="active"><a href="">Update a Screening Datetime</a></li>
          <li><a href="http://localhost:9000">Log out</a></li>
        </ul>
      </div>
    </nav>

    
    
    <form  class="testing" action="/upscr" name='update_screening' id="forma" method="POST">
    <h3>Update a movie screening datetime:</h3>
    <p>Select the screening date and time you want to update </p>
    <p>And then write the new screening date and time  </p>
    <p>Write answer this way: <b>yyyy-mm-dd,hh:mm</b></p>

        <select name="choice" >
            {% for date in a %}
                {% for key in date %}
                    <option value="{{key}}">{{key}}</option>
                {% endfor %}
            {% endfor %}    
        </select>
        <input type="text" class="inputstyle" placeholder="New Screening Date..." name="nscr" required>
        <input type="text" name="ot" value="{{ot}}" style="display: none;">
        <input type="text" name="oy" value="{{oy}}" style="display: none;">
        <button class="buttont" id="up_date" type="submit">Update Date</button>
    </form>
    
    {% if k ==1 %}
      <h5>**  Your screening datetime has been succesfully updated.</h5>
    {% endif %}

  </body>
</html>