<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <title>Document</title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">InfoCinemas</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:9000/profile?mail={{mail}}&name={{name}}">Profile</a></li>
          <li><a href="http://localhost:9000/searchmovie?mail={{mail}}&name={{name}}">Search Movie</a></li>
          <li class="active"><a href="">View History</a></li>
          <li><a href="http://localhost:9000">Log out</a></li>
        </ul>
      </div>
    </nav>

    

    <form class="testing" action="/view_history" name='view_history' id="forma" method="POST">
      <h5>Movies Seen</h5>
        {% for i in hlist%}
          <li>
          {{i}}
          </li>
        {% endfor %}
        <input type="text" name="mail" value="{{mail}}" style="display: none;">
        <input type="text" name="name" value="{{name}}" style="display: none;">
    </form>

  </body>
</html>